<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="/usr/local/bin/python3"
                  arguments="app.py"
                  startupCommand="apt-get update &amp;&amp; apt-get install -y ffmpeg"/>
  </system.webServer>
</configuration>
